body {
  background-image: url('https://raw.githubusercontent.com/jia-aoh/shop_1/71d97bff4de319e1c20fa5dd405d3c6a60552afc/img/bg_1.png');
}

a:hover,
.accordion-button{
cursor: pointer;
}

.carousel-caption {
  letter-spacing: 2px;
  z-index: 2;
}

.carousel-caption p {
  margin: auto;
}

.carousel-inner::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.carousel-item {

  transition: transform 2s ease,opacity .5s ease-out ;
  & .mask {
    mask-image: linear-gradient(to right, transparent, black, black, transparent)
  }
}

.model{
  z-index: 0;
}

/* navbar大 */
.navbar {
  border-bottom: 2px solid rgb(231, 231, 231);
  filter: blur(50);
}

.navbar-brand {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 500;
}

.nav-link {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

.btn {
  font-size: 15px;
  letter-spacing: 0px;
}

/* navbar小 */
@media only screen and (max-width:767px) {
  .navbar-nav {
    background-color: rgb(250, 248, 248);
    z-index: 0;

  }

  .navbar-nav .nav-item {
    text-align: center;
    margin: 15px;

    & .nav-link {
      border: 1px solid black;
      background-color: rgba(255, 254, 254, 0.5);
      border-radius: 5px;
    }
  }
}

/* introduction */
#introduction {
  & .container {


    & .text-center {
      background-color: whitesmoke;
      border: 5px solid rgb(224, 223, 223);
      border-radius: 25px 0 25px 0;
      border-style: ridge;
      margin: 25px 0;
      line-height: 28px;
    }
  }


  footer span {
    font-size: 14px;
  }
}
/* 彈出廣告 */
#tyModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.594);
}

.tyModalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.tyClose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.tyClose:hover,
.tyClose:focus {
  color: #000;
  cursor: pointer;
}
/* 彈出廣告結束 */
/* about */
.nav-pills {
  --bs-nav-pills-link-active-bg: gainsboro;
  --bs-nav-pills-link-active-color: black;
  --bs-nav-link-color: black;
}

.accordion {
  --bs-accordion-active-bg: gainsboro;

}
/* footer */
footer a{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}
footer small{
  padding: 0;
  margin: 0;
}